# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# environment variables
.env
.env.local
.env.example
.env.docker
.env.backend
/backend/.env
/backend/.env.local
/backend/.env.development
/backend/.env.production
/backend/.env.example
.env.development
.env.development.local
.env.test
.env.test.local
.env.production
.env.production.local

# misc
.DS_Store
.idea
.vscode
*.swp
*.swo
*~

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# backend deps
/backend/node_modules

# OS files
Thumbs.db

# Editor directories
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
